@font-face {
    font-family: 'Bitcount Grid Single';
    src: url('BitcountGridSingle-Regular.eot');
    src: local('Bitcount Grid Single Regular'), local('BitcountGridSingle-Regular'),
        url('BitcountGridSingle-Regular.eot?#iefix') format('embedded-opentype'),
        url('BitcountGridSingle-Regular.woff2') format('woff2'),
        url('BitcountGridSingle-Regular.woff') format('woff'),
        url('BitcountGridSingle-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

